<div class="col s12 m6 l4 left">
  <div class="card" id="article">
    <div class="card-image">
      <img src="{{image}}">
      <span class="card-title"></span>
    </div>
    <div class="card-content">
      <p data-id="{{_id}}" class="title">{{title}}</p>
    </div>
    <div class="card-action">
      <a class="save-article" href="#">Save Article</a>
    </div>
  </div>
</div>
