<!-- <div class="container" id="header"> -->
  <div class="row" id="header">
    <div class="col s12">
      <h1>NewsScraper</h1>
      <h2>Daily headlines brought to you by The Hustle.</h2>
    </div>
  </div>
<!-- </div> -->
<div class="container">
  <div class="row">
    {{#each articles}}
      {{> articles}}
    {{/each}}
  </div>
</div>
