/* Nav elements */
.nav-wrapper {
  background-color: #2ee5d6;
}

.nav-link {
  color: #294056 !important;
}
/* End nav elements */

/* Header elements */
#header {
  background-color: #294056;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

h1 {
  font-size: 44px !important;
  margin-bottom: 20px !important;
}

h2 {
  margin-top: 0 !important;
  font-size: 28px !important;
  font-weight: 200 !important;
}

#scrape-button {
  background-color: #294056;
  color: #ffffff;
}
/* End header elements */

/* Article cards */
#article {
  height: 500px;
}

.article-item {
  border-bottom: 1px solid #ff6666;
  padding: 20px;
}

.title {
  font-size: 20px !important;
  color: #24598f;
}
/* End article cards */

#no-articles-message {
  text-align: center;
}

#modal1 {
  height: 500px;
}
